.content {
  display: block;
  width: 80%;
}
.searchDiv {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: 1;
}
.searchBar {
  height: 30px;
  width: 82%;
  font-size: larger;
}
